dist/
node_modules/
build/
coverage/
.nyc_output/
logs/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.env
.env.*
!.env.example
*.tsbuildinfo
